<%- include("partials/header") -%>

  <!-- header start -->

  <!-- <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://apaffiliate.online/wp-content/uploads/2022/01/online-communication_1098-15842.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>WELCOME TO ADEMY SCHOOL</h5>
         <h2> TODAY A READER <br> TOMORROW A LEADER</h2>
          <button class="btn btn-primary">GET STARTED <i class="fa-solid fa-arrow-right"></i></button> <button class="btn btn-primary">LEARN MORE <i class="fa-solid fa-arrow-right"></i></button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://st.depositphotos.com/1037987/4846/i/600/depositphotos_48460895-stock-photo-class-of-university-students-using.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        </div>
      </div>
      
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> -->


  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item img-1 active">
        <h5>WELCOME TO ADEMY SCHOOL</h5>
        <h2> TODAY A READER <br> TOMORROW A LEADER</h2>
        <button class="btn btn-primary">GET STARTED <i class="fa-solid fa-arrow-right"></i></button> <button
          class="btn btn-primary">LEARN MORE <i class="fa-solid fa-arrow-right"></i></button>
      </div>
      <div class="carousel-item slide-2">
        <h5>Second slide label</h5>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- header end -->




  <!-- features start -->
  <div class="row">
    <div class="col-3">
      <i class="fa-solid fa-medal"></i>
      <h3>92%</h3>
      <h6>PASSING TO UNIVERSITIES</h6>

    </div>
    <div class="col-3">
      <i class="fa-solid fa-user"></i>
      <h3>300k</h3>
      <h6>STUDENT ENTOLLED</h6>
    </div>
    <div class="col-3">
      <i class="fa-solid fa-face-smile"></i>
      <h3>4524</h3>
      <h6>HIGH SATISFACTION</h6>
    </div>
    <div class="col-3">
      <i class="fa-solid fa-id-card"></i>
      <h3>4527</h3>
      <h6>CERTIFIED TEACHER</h6>
    </div>
  </div>

  <!-- features end -->

  <!-- about start -->
  <div class="about-school">
    <div class="headings">
      <h5>WE ARE THE BEST SCHOOL</h5>
      <h2>Welcome to Ademy School</h2>
    </div>
    <div class="row">
      <div class="col-6">
        <iframe width="500" height="480" src="https://www.youtube.com/embed/Ayb_2qbZHm4" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="col-6">
        <h4>Get Know Our School</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus voluptas harum cupiditate sed ad,
          architecto impedit reprehenderit molestias fuga odio nemo odit, quaerat iusto nihil natus eius delectus,
          voluptates facilis?</p>
        <div class="row">
          <div class="col-6">
            <ul>
              <li>After School</li>
              <li>After School Fine Arts</li>
              <li>Athletics</li>
            </ul>
          </div>
          <div class="col-6">
            <ul>
              <li>Summer Camp Programs</li>
              <li>College Planning Services</li>
              <li>Dinnig Hall</li>
            </ul>

          </div>

        </div>
        <button class="btn btn-primary">LEARN MORE</button>

      </div>
    </div>
  </div>
  <!-- about end -->

  <!-- history start -->
  <div class="history">
    <div class="row">
      <div class="col-8">
        <h3>Welcome to Ademy a prestigious <br> Secondary School</h3>
        <div class="row">
          <div class="col-3">
            <i class="fa-solid fa-school-flag"></i>
            <div class="text">
              <h4>Our School</h4>
              <p>We take pride in our famous teaching tradition & achievements</p>
            </div>
          </div>
          <div class="col-3">
            <i class="fa-solid fa-graduation-cap"></i>
            <div class="text">
              <h4>Why Choose Us ?</h4>
              <p>Our school ranked among the top 10 best school for children aged 13-19</p>
            </div>

          </div>
          <div class="col-3">
            <i class="fa-solid fa-book"></i>
            <div class="text">

              <h4>Achievements</h4>
              <p>We have had the honor of becoming the Best School for Science in 2020 </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="subscribe">
          <h2>Subscribe</h2>
          <h5>TO OUR NEWSLETTERS</h5>
          <P>Enter your email in the box below to receive the latest new and information about our activities and events
          </P>
          <input type="email" placeholder="Email">
          <button class="btn btn-primary">SUBSCRIBE</button>
        </div>

      </div>
    </div>
  </div>
  <!-- history end -->

  <!-- latest news start -->
  <div class="latest-news">
    <h1>Our Latest News</h1>
    <div class="buttons-it">
      <button>All</button>
      <button>Athletics Olympaid</button>
      <button>Blogs</button>
      <button>Languages</button>
      <button>School Life</button>
    </div>
    <div class="row">
      <div class="col-4">
        <img src="https://d2jyir0m79gs60.cloudfront.net/news/images/successful-college-student-lg.png" alt="">
        <div class="text-it">

          <h6>BLOGS</h6>
          <h4>Our Class As A Family</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione odit quos esse? Debitis, quasi odit.</p>
        </div>
        <div class="row">
          <div class="col-4">
            <h6> <i class="fa-solid fa-user"></i> Ademy</h6>
          </div>
          <div class="col-4">
            <h6><i class="fa-solid fa-eye"></i> 342 Views</h6>
          </div>
          <div class="col-4">
            <h6><i class="fa-solid fa-heart"></i> 0 Like</h6>
          </div>
        </div>
      </div>
      <div class="col-4">
        <img
          src="https://www.usnews.com/dims4/USNEWS/2ec7e17/2147483647/thumbnail/640x420/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2F1d%2Ffc%2F16a040e44de4b8180773f6319be6%2Fcollegestudentsfriends.jpg"
          alt="">
        <div class="text-it">

          <h6>ATHLETICS OLYMPIAD</h6>
          <h4>The 15th Athletics Olympiad</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sint assumenda, possimus alias illo cumque!
          </p>
        </div>
        <div class="row">
          <div class="col-4">
            <h6> <i class="fa-solid fa-user"></i> Ademy</h6>
          </div>
          <div class="col-4">
            <h6><i class="fa-solid fa-eye"></i> 342 Views</h6>
          </div>
          <div class="col-4">
            <h6><i class="fa-solid fa-heart"></i> 0 Like</h6>
          </div>
        </div>
      </div>
      <div class="col-4">
        <img src="https://firstgen.naspa.org/images/dmImage/StandardImage/standard_1800x1090_define-firstgen12.jpg"
          alt="">
        <div class="text-it">

          <h6>ATHLETICS OLYMPAID</h6>
          <h4>3 Most Difficult Subjects</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ratione, autem accusamus eos eius culpa.</p>
        </div>
        <div class="row">
          <div class="col-4">
            <h6> <i class="fa-solid fa-user"></i> Ademy</h6>
          </div>
          <div class="col-4">
            <h6><i class="fa-solid fa-eye"></i> 342 Views</h6>
          </div>
          <div class="col-4">
            <h6><i class="fa-solid fa-heart"></i> 0 Like</h6>
          </div>
        </div>
      </div>
      
    </div>
    <button class="btn btn-primary">GO TO BLOG</button>
  </div>

  <!-- latest news end -->

  <!-- Events start -->
  <div class="upcoming-event">
    <h5>Explore Our Events</h5>
    <h1> Upcoming Events</h1>
    <div class="row">
      <div class="col-6">
        <img src="https://d2jyir0m79gs60.cloudfront.net/news/images/successful-college-student-lg.png" alt="">
        <div class="row">
          <div class="col-9">
            <h6>Youth Sports Conference</h6>
            <div class="row">
              <div class="col-5">
                <p><i class="fa-solid fa-location-dot"></i>
                  30 Times Square</p>
              </div>
              <div class="col-7">
                <p><i class="fa-solid fa-clock"></i> 6:00</p>
              </div>
            </div>


          </div>
          <div class="col-3">
            <h6>26 Feb</h6>
          </div>
        </div>
      </div>



      <div class="col-6">
        <img
          src="https://assets.entrepreneur.com/content/3x2/2000/1396294231-why-college-students-need-entrepreneurial-careers.jpg"
          alt="">
        <div class="row">
          <div class="col-9">
            <h6>Youth Sports Conference</h6>
            <div class="row">
              <div class="col-5">
                <p><i class="fa-solid fa-location-dot"></i>
                  30 Times Square</p>
              </div>
              <div class="col-7">
                <p><i class="fa-solid fa-clock"></i> 6:00</p>
              </div>
            </div>


          </div>
          <div class="col-3">
            <h6>26 Feb</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Events end -->

  <!-- buy start -->
  <div class="row">
    <div class="col-8">
      <h3>Buy early bird ticket now!</h3>
    </div>
    <div class="col-4">
      <button class="btn btn-primary">Learn More <i class="fa-solid fa-arrow-right"></i></button>
      <button class="btn ">REGISTER NOW<i class="fa-solid fa-arrow-right"></i></button>
    </div>
  </div>
  <!-- buy end -->

  <!-- Testimonials start -->
  <div class="testimonials">
    <h6>SATISFIED PARENTS</h6>
    <h1>Parent's Testimonials</h1>
    <div class="row">
      <div class="col-4">
        <img src="https://images.indianexpress.com/2017/02/student759.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem est eligendi voluptatem, esse accusamus
          suscipit.</p>
        <i class="fa-solid fa-star"></i>
        <h6>John Smith /CEO</h6>
      </div>
      <div class="col-4">
        <img
          src="https://image.shutterstock.com/image-photo/confident-handsome-student-holding-books-260nw-366568778.jpg"
          alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam assumenda odio perspiciatis possimus vitae
          repellendus.</p>
        <i class="fa-solid fa-star"></i>
        <h6>John Smith /CEO</h6>
      </div>
      <div class="col-4">
        <img
          src="https://psychology.org.au/getmedia/e9cc848c-7097-4ac9-acce-ee1202bf958d/Training-careers-Studying-psychology-Undergrad-study-1000x500.jpg?width=1000&height=500&ext=.jpg%20alt="
          alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab porro quas quo quibusdam impedit voluptates?</p>
        <i class="fa-solid fa-star"></i>
        <h6>John Smith /CEO</h6>
      </div>
    </div>
  </div>
  <!-- Testimonials end -->
  <!-- images start -->
  <div class="images-part">
    <div class="row">
      <div class="col-2">
        <img src="https://www.collegedata.com/hs-fs/collegedata/images/article/what_will_college_life_be_like.jpg"
          alt="">
      </div>
      <div class="col-2">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5fTjGtxJcN0AiocB5oXi0WDyH2WB2TLCYZY6XqukLvfbtSdx7WClaF0FwOrL01SVYWnw&usqp=CAU"
          alt="">
      </div>
      <div class="col-2">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR70fL-Y_DnV7Q3mi6ZtxGBQudqtZXHWBhzNg&usqp=CAU"
          alt="">
      </div>
      <div class="col-2">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRqbwXd-gQAwr3rDoLO4ioo9DhWb5FVbVnDWAp5XmTvnsrG2-rQxVU2OIC8ovG4gcqpak&usqp=CAU"
          alt="">
      </div>
      <div class="col-2">
        <img
          src="https://post.healthline.com/wp-content/uploads/2021/07/College_Students_Masks_1200x628-facebook-1200x628.jpg"
          alt="">
      </div>
      <div class="col-2">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSD8Mi5T2l3_Xuxo_2TOqq3pA2YIf2waugVRjQ7IaTKsiMNJ3EAtsv7k4q2457l-3mGIPU&usqp=CAU"
          alt="">
      </div>
    </div>
    <h2>We Are On Instagram</h2>
    <h6>fOLLOW US ON @clever-874</h6>
  </div>
  <!-- images end -->
  <!-- contact start -->
  <div class="contact-us">
    <div class="row">
      <div class="col-4">
        <h5>ADEMY <br>
          <h6>High School</h6>
        </h5>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint dolore magni iste nesciunt blanditiis rerum.
        </p>
        <p>&copy;2020 Ademy. Designed By BootXperts </p>
      </div>
      <div class="col-2">
        <h6>Our Links</h6>
        <p>Classroom</p>
        <p>Events</p>
        <p>News</p>
        <p>About</p>
      </div>
      <div class="col-3">
        <h6>Contact us</h6>
        <p>58 Howard Street #2 San Francisco.CA</p>
        <p>94105</p>
        <p>info@example.com</p>
        <p>(+612)24515545</p>
      </div>
      <div class="col-3">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, tenetur! </p>
        <p>Web Developer</p>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-skype"></i>
      </div>
    </div>
  </div>
  <!-- contact end -->

  <%- include("partials/footer") -%>