<%- include("partials/header") -%>

<div class="form">
  <h2>SIGNUP</h2>
    <form action="/signup" method="post">
        <div class="form-group">
        <h5>Email</h5>
          <input type="email" name="email" class="form-control" placeholder="enter your email">
        </div>
        <h5>Password</h5>
        <div class="form-group">
          <input type="password" name="password" class="form-control" placeholder="enter your password">
        </div>
        <button type="submit" class="btn btn-primary">Welcome</button>
      </form>
</div>



<%- include("partials/footer") -%>
    
